body{
    background-color: white;
    color: black;
}

body.black{
    color: white !important;
    background-color: #2d2d2d !important;
}

.black:hover{
    color : yellow;
}

p.white{
    color: black !important;
    background-color: white !important;
}

td.white{
    color: black !important;
    background-color: white !important;
}

.photo{
    max-height: 120px;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.tableauInfos {
    border: 1px solid #2d2d2d;
}

.card{
    height: auto;
    margin-top: 3rem;
}

.card-body{
    height: 100px;
}

.card-image{
    width: 100%;
    height: 50%;
}

.card-image img{
    width: 100%;
    height: auto;
}

.price{
    text-align: right;
}

.payButton {
    float: right;
    margin-right: 10px;
}

img, svg {
    max-height: 30vh;
    object-fit: contain;
}

.imgHome{
    width: 100%;
    height: 50vh;
}

tr.purchase{
    border: 0px solid black;
}

.card-image img {
    object-fit: contain;
}

@media screen and (max-width: 640px) {
    .imageCart {
      width: 30vw;
      height: auto;
    }

    .oneProduct{
        display: flex;
        flex-direction: column !important;
        width: 100%;
    }

    img.logoMrShopping{
        margin: 0;
    }

    header a{
        max-width: 80%;
        margin: 0;
    }

    header a .ms-5 {
        margin-left: 0rem!important;
    }
}

/* -----------------------------------------------STRIPE---------------------------------------------------------------*/

